<html>
<head>
<meta http-equiv="Content-Type" content="text/html;" />
<title>xxx</title>

<link rel="stylesheet" type="text/css" href="/public/js/extjs/resources/css/ext-all.css" />
<script type="text/javascript" src="/public/js/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/public/js/extjs/ext-all-debug.js"></script>



<script type="text/javascript" src="/public/js/ui.js"></script>

<style type="text/css">

.red {background: PaleGoldenRod; }
.green{background-color: PapayaWhip ; }
.changed-field{border-color: black !important; }
</style>

</head>
<body>
<h1>xxxx</h1>
<div id="grid"></div>
</body>
</html>
